# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
.vscode/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/key.properties
*.jks
*.keystore

# Local build dirs (release APKs live in releases/)
apks/
builds/

# Misc
.DS_Store
*.log
